{{ define "main" }}

<!-- Banner -->
{{ if .Site.Data.homepage.banner.enable }}
{{ with .Site.Data.homepage.banner }}
<section class="py-7" id="">
  <div class="container">
    <div id="" class="row text-center">

    {{ if .image }}
    <div class="col-lg-6">
      <div id="banner-img" class="justify-content-end">
        <img src="{{ .image | relURL }}" alt="{{ .title | markdownify }}" class="img-fluid w-100">
      </div>
    </div>
    {{ end }}
      <div class="col-lg-6 col-md-8">
        <div class="pt-5">
          <span class="text-color font-weight-bold">{{ .writter | markdownify }}</span>
          <h1 class="mb-4 mt-2">{{ .title | markdownify }}</h1>

          <h5 class="pb-3">{{ .content | markdownify }}</h5>

        <div class="text-center mt-2">
          <!--
          <button class="snipcart-add-item btn btn-main-2"
          data-item-id="Holiday Reading Book Bundle"
          data-item-price="65.00"
          data-item-url="https://authortodd.com/"
          data-item-description="Holiday Reading Book Bundle - All of Todd's publications plus a little extra. Six books in all, hundreds of stories, countless memories made reading."
          data-item-image="/images/blog/holiday-reading-bundle.jpg"
          data-item-name="Holiday Reading Book Bundle">
          Add to cart
          </button> -->
          <a href="https://www.amazon.com/dp/B09SP29VPJ?searchxofy=true&binding=kindle_edition&qid=1647650550&sr=1-1" target="_blank"><button class="btn btn-main-2">Learn More</button></a>

        </div>

        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<!--Services -->
{{ if .Site.Data.homepage.service.enable }}
{{ with .Site.Data.homepage.service }}
<section class="pt-4 section-bottom" id="service">
  <div class="container">
    <div class="row align-items-center">
      {{ range .serviceItem }}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-4 mb-lg-0">
          <i class="{{ .icon }} text-danger"></i>
          <h4 class="mb-3 mt-4">{{ .title | markdownify }}</h4>
          <p class="mb-0">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Quote -->
{{ if .Site.Data.homepage.quote.enable }}
{{ with .Site.Data.homepage.quote }}
<section class="section" id="quote">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <blockquote class="blockquote">
            <h2 class="text-lg">"{{ .quote | markdownify }}"</h2>
            {{ if .quoteBy }}
            <footer class="blockquote-footer h5 text-color mt-4">{{ .quoteBy }}</footer>
            {{ end }}
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Chapter -->
{{ if .Site.Data.homepage.chapters.enable }}
{{ with .Site.Data.homepage.chapters }}
<section class="section chapter" id="chapter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .chapter }}
      <div class="col-sm-6">
        <div class="chapter-item">
          <h4>{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}



<!-- Latest blog -->
{{ if .Site.Data.homepage.blog.enable }}
<section class="section blog-home border-top bg-grey" id="blog">
  <div class="container">
    {{ with .Site.Data.homepage.blog }}
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-heading text-center">
          <h2 class="text-lg mb-3">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range first 4 (where .Site.RegularPages "Type" "post")}}
      <div class="col-lg-3 col-md-6 col-sm-6">
      {{ .Render "post"}}
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/blog" class="btn btn-main-2">See Todd's Latest Posts<i class="ti-arrow-right"></i></a>
    </div>
  </div>
</section>
{{ end }}

<!-- Review-->
{{ if .Site.Data.homepage.reviews.enable }}
{{ with .Site.Data.homepage.reviews }}
<section class="py-7" id="review">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-12 col-sm-12 col-md-12 testimonial-wrap">
        {{ range .review}}
        <div class="test-item">
          <div class="testimonial-item-content">
            <div class="test-author-thumb mb-4">
              <div class="test-author-info mt-4">
                <ul class="rating list-inline mb-0 {{ .rating }}">
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                </ul>
                <h4 class="mb-0 mt-2">{{ .name }}</h4>
                <p>{{ .designation }}</p>
              </div>
            </div>
            <p class="mb-0">{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Others books -->
{{ if .Site.Data.homepage.otherBooks.enable }}
{{ with .Site.Data.homepage.otherBooks }}
<section class="section section-bottom bg-grey py-7" id="otherBooks">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-heading text-center">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      {{ range .book }}
      <div class="col-lg-2 col-md-3">
        <div class="book-item py-2 mb-4 mb-lg-0">
          <img src="{{ .image | relURL }}" alt="" class="img-fluid">
          <a href="{{ .link | safeURL }}" class="hover-item">
            <i class="ti-book"></i>
          </a>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/categories/books" class="btn btn-main-2">Shop Books <i class="ti-book"></i></a>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Book a workshop Section -->
{{ with .Site.Data.homepage.bookings }}
<div id="booking" class="py-7">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-3 col-sm-10">
      <div class="text-center">
        <h1 class="text-lg">{{ .title | markdownify }}</h1>
        <p>{{ .subtitle | markdownify }}</p>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <div class="container">
          <div class="row">
            <section class="container">
              <img src="/images/about/preview_reading.jpg" alt="" class="img-fluid w-100 pb-3">
            </section>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
<div class="text-align-center px-5 col-lg-5 col-md-5 col-sm-11">
  <form class="" target="_self" enctype="multipart/form-data" action="https://formkeep.com/f/3e5823e14818" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
    <fieldset>
        <div class="">
        <div class="form-group" id="Name___div">
        <label title="required" for="Name:">Name: *</label>
        <input type="text" name="Name:" id="Name:" required="required" class="form-control" />
    </div>
    </div>
        <div class="">
        <div class="form-group col-xs-12" id="Email___div">
        <label title="required" for="Email:">Email: *</label>
        <input type="email" name="Email:" id="Email:" required="required" class="form-control" />
    </div>
    </div>
        <div class="">
        <div class="form-group col-xs-12" id="Phone___div">
        <label title="required" for="Phone:">Phone: *</label>
        <input type="tel" name="Phone:" id="Phone:" required="required" class="form-control" />
    </div>
    </div>
        <div class="">
        <div class="form-group col-xs-12" id="Organization___div">
        <label for="Organization:">Organization:</label>
        <input type="text" name="Organization:" id="Organization:" class="form-control" />
    </div>
    </div>
        <div class="">
        <div class="form-group col-xs-12" id="What_s_the_best_time_day_to_reach_you___div">
        <label title="required" for="What_s_the_best_time_day_to_reach_you_">What&#39;s the best time/day to reach you? *</label>
        <input type="text" name="What&#39;s the best time/day to reach you?" id="What_s_the_best_time_day_to_reach_you_" required="required" class="form-control" />
    </div>
    </div>
        <div class="">
        <div class="form-group col-xs-12" id="Tell_us_more___div">
        <label for="Tell_us_more_">Tell us more!</label>
        <textarea name="Tell us more!" id="Tell_us_more_" class="form-control">
</textarea>
    </div>
    </div>
    <br>
    <div style="opacity:0;position:absolute;top:0;left:-5000px;height:0;width:0">
      <label for="subscribe_3e5823e14818_35260"></label>
      <input name="subscribe_3e5823e14818_35260" value="" tabindex="-1" autocomplete="off"
             type="email" id="email_subscribe_3e5823e14818_35260" placeholder="Your email here">
    </div>
    <div class="">
      <div class="col-xs-12">
        <input type="submit" value="Submit" class="btn btn-main-2" data-disable-with="Send" />
      </div>
    </div>
  </fieldset>
</form>

</div>
</div>
</div>


<!-- Device feature -->
{{ if .Site.Data.homepage.devices.enable }}
{{ with .Site.Data.homepage.devices }}
<section class="feature-home section" id="device">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <h2 class="mb-4">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>

        {{ range .feature }}
        <div class="feature-item d-flex mt-5 mb-3">
          {{ if .icon }}
          <div class="icon-block">
            <i class="{{ .icon }}"></i>
          </div>
          {{ end }}
          <div class="content">
            <h5>{{ .title | markdownify }}</h5>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}

        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | safeURL }}" class="btn btn-main-2">{{ .label }} <i class="ti-angle-right ml-3"></i></a>
        {{ end }}
        {{ end }}
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="mt-5 mt-lg-0">
          <img src="{{ .image | relURL }}" alt="" class="img-fluid w-100">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- About Author -->
{{ if .Site.Data.homepage.author.enable }}
{{ with .Site.Data.homepage.author }}
<section class="py-7 bg-grey" id="author">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="about-img">
          <img src="{{ .image | relURL }}" alt="{{ .name }}" class="img-fluid w-100">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="author-info pl-4 mt-5 mt-lg-0">
          <h2 class="text-lg">{{ .name }}</h2>
          <p class="mb-4 lead">- {{ .designation }}</p>
          {{ .content | markdownify }}

          {{ if .signature }}
          <img src="{{ .signature | relURL }}" alt="" class="img-fluid">
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Awards -->
{{ if .Site.Data.homepage.awards.enable }}
{{ with .Site.Data.homepage.awards }}
<section id="clients-logo-section" class="section-top" id="awards">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range .award }}
      <div class="col-lg-3 col-sm-6">
        <div class="award-block text-center p-4 border mb-4">
          <h5 class="mb-3">{{ .title | markdownify }}</h5>
          <img src="{{ .image | relURL }}" alt="" class="img-fluid">
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<!-- Other contact -->
{{ if .Site.Data.homepage.contact.enable }}
{{ with .Site.Data.homepage.contact }}
<section class="py-7" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="section-heading text-center">
          <h2 class="mb-2 text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range .contactItem }}
      <div class="col-lg-4 col-sm-6">
        <div class="contact-info-block text-center mb-4">
          <i class="{{ .icon }}"></i>
          <p class="mb-0">{{ .title | markdownify }}</p>
          {{ range .list }}
          <h5>{{ .listItem }}</h5>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<!-- Book preview
{{ if .Site.Data.homepage.preview.enable }}
{{ with .Site.Data.homepage.preview }}
<section class="section bg-grey" id="book">
  <div class="container">
    <div id="row" class="row justify-content-between">
      <div class="col-lg-5">
        <div class="pt-5 book-preview">
          <img src="{{`images/about/kindle.png` | relURL}}" class="background-device img-fluid" alt="device">
          <div class="book-pages">
            {{ range .pagePreview }}
            <div class="item">
              <img src="{{ .image | relURL }}" alt="page-preview" class="img-fluid">
              <div class="overlay">
                <a href="{{ .image | relURL }}" class="popup-gallery img-fluid" data-title="Preview"><i
                    class="ti-fullscreen"></i></a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="pt-5 col-lg-7">
        <div class="section-heading book-info pt-mt-5">
          <h2 class="text-md mb-4">{{ .title | markdownify }}</h2>
          {{ .content | markdownify }}

          <ul class="list-unstyled mt-4 mb-5">
            {{ range .inside }}
            <li><i class="ti-check mr-3"></i> {{ .insideItem | markdownify }}</li>
            {{ end }}
          </ul>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | safeURL }}" class="btn btn-main-2">{{ .label }}<i class="ti-arrow-right"></i></a>
          {{ end }}

          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
-->
{{ end }}
